<app-navbar></app-navbar>
<div id="content" class="h-full p-10 flex flex-col items-center justify-center text-center">
    <h1 class="text-3xl" style="color: #000066">Planes cómodos para tu <br> <span style="color: #00D774;">Conveniencia</span></h1>
    <div class="flex flex-row">
        <div class="payment-item-container">
            <div class="payment-item" style="background-color: #00D774;">
                <h1 class="text-3xl font-bold">Mensual</h1>
                <div class="flex flex-col text-start">
                    <ul>
                        <li>El mejor alojamiento disponible</li>
                        <li>Servicio de Soporte</li>
                        <li>Plantillas prediseñadas</li>
                        <li>Recibe Pagos</li>
                        <li>Implementa tus propios estilos</li>
                    </ul>
                </div>
                <span class="text-3xl font-bold">$18</span>
            </div>
            <Button 
                btnText="Comprar" 
                btnWidth="280px" 
                btnColor="white"
                btnBgColor="linear-gradient(89.64deg, #BC8AFD 0.17%, #5A24F6 49.89%, #6EE2F5 99.61%)"
                btnBgColorHover="linear-gradient(90deg, #6B508D 0%, #2B1273 48.44%, #32626A 100%)"
            ></Button>
        </div>
        
        <div class="payment-item-container">
            <div class="payment-item" style="background-color: #EB12B4;">
                <h1 class="text-3xl font-bold">Semestral</h1>
                <div class="flex flex-col text-start">
                    <ul>
                        <li>El mejor alojamiento disponible</li>
                        <li>Servicio de Soporte</li>
                        <li>Plantillas prediseñadas</li>
                        <li>Recibe Pagos</li>
                        <li>Implementa tus propios estilos</li>
                    </ul>
                </div>
                <span class="text-3xl font-bold">$85</span>
            </div>
            <Button 
                btnText="Comprar" 
                btnWidth="280px" 
                btnColor="white"
                btnBgColor="linear-gradient(89.64deg, #BC8AFD 0.17%, #5A24F6 49.89%, #6EE2F5 99.61%)"
                btnBgColorHover="linear-gradient(90deg, #6B508D 0%, #2B1273 48.44%, #32626A 100%)"
            ></Button>
        </div>

        <div class="payment-item-container">
            <div class="payment-item" style="background-color: #000066;">
                <h1 class="text-3xl font-bold">Anual</h1>
                <div class="flex flex-col text-start">
                    <ul>
                        <li>El mejor alojamiento disponible</li>
                        <li>Servicio de Soporte</li>
                        <li>Plantillas prediseñadas</li>
                        <li>Recibe Pagos</li>
                        <li>Implementa tus propios estilos</li>
                    </ul>
                </div>
                <span class="text-3xl font-bold">$155</span>
            </div>
            <Button 
                btnText="Comprar" 
                btnWidth="280px" 
                btnColor="white"
                btnBgColor="linear-gradient(89.64deg, #BC8AFD 0.17%, #5A24F6 49.89%, #6EE2F5 99.61%)"
                btnBgColorHover="linear-gradient(90deg, #6B508D 0%, #2B1273 48.44%, #32626A 100%)"
            ></Button>
        </div>
    </div>
</div>
<app-footer></app-footer>