


<div *ngIf="products.length === 0" class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4"  role="alert">
  <p class="font-bold"></p>
  <p>No hay productos disponibles</p>
</div>

<div *ngIf="products.length > 0;" class="bg-white">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">

    <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <app-product-card (load)="loadProducts()" *ngFor="let product of products" [product]="product" [routerLink]="['product-overview', product._id]" routerLinkActive="active"></app-product-card>
    </div>
  </div>
</div>