
* {
    background-color: #000066;
    
}

#navbar-links {
    margin-right: 10px;
    a {
        margin-left: 10px;
        font-weight: bold;
    }
}

#btn-signup {
    background: linear-gradient(90deg, #EB12B4 0%, #B312EB 100%);
}

.mleft {
    margin-right: 5px;
}