<app-navbar></app-navbar>
<div class="grid grid-cols-4 grid-rows-2 gap-6 my-10">
    <div class="row-span-2"></div>
    <div class="flex flex-col col-start-2 w-72 h-64 bg-gray-200 justify-self-center border rounded-2xl shadow-lg text-white font-bold justify-center items-center cursor-pointer" style="background-color: #EB2BBA;">
        <fa-icon class="text-9xl mb-5" [icon]="faIdCard"></fa-icon>
        <h2>Gestion de empresas</h2>
    </div>
    <div class="flex flex-col col-start-3 w-72 h-64 bg-gray-200 justify-self-center border rounded-2xl shadow-lg text-white font-bold justify-center items-center cursor-pointer" style="background-color: #EB2BBA;">
        <fa-icon class="text-9xl mb-5" [icon]="faClipboardCheck"></fa-icon>
        <h2>Gestion de planes</h2>
    </div>
    <div class="flex flex-col col-start-2 w-72 h-64 bg-gray-200 justify-self-center border rounded-2xl shadow-lg text-white font-bold justify-center items-center cursor-pointer" style="background-color: #EB2BBA;">
        <fa-icon class="text-9xl mb-5" [icon]="faImages"></fa-icon>
        <h2>Gestion de plantillas</h2>
    </div>
    <div class="flex flex-col col-start-3 w-72 h-64 bg-gray-200 justify-self-center border rounded-2xl shadow-lg text-white font-bold justify-center items-center cursor-pointer" style="background-color: #EB2BBA;">
        <fa-icon class="text-9xl mb-5" [icon]="faUsers"></fa-icon>
        <h2>Gestion de usuarios</h2>
    </div>
    <div class="row-span-2"></div>
</div>
<app-footer></app-footer>