<app-navbar (cartModal)="toggleModal($event)" [entity]="entity" [token]="token"></app-navbar>

<div *ngIf="!token" class="flex flex-col mx-16 my-5 gap-36 p-8">
    <div class="flex flex-row items-center justify-center">
        <div class="flex flex-col gap-5">
            <h1 class="text-3xl font-bold" style="color: #000066;">Haz crecer tu negocio creando tu website aqui</h1>
            <p style="color: #38B6FF; font-size: 20px;">Rapido, sencillo y confiable con muchas opciones para tu alcance</p>
            <Button
            btnText="Comienza ahora" 
            btnWidth="280px" 
            btnColor="white"
            btnBgColor="linear-gradient(89.64deg, #BC8AFD 0.17%, #5A24F6 49.89%, #6EE2F5 99.61%)"
            btnBgColorHover="linear-gradient(90deg, #6B508D 0%, #2B1273 48.44%, #32626A 100%)"
            routerLink="/signIn"
            >
            </Button>
        </div>
        <div>
            <img src="../../../assets/pc.png" alt="" srcset="">
        </div>
    </div>
    <div class="flex flex-col items-center gap-4" style="color:#000066">
        <div class="text-4xl font-bold my-5" >Explora</div>
        <div class="flex flex-row gap-4">
            <div class="w-64 h-64 rounded-lg" style="background-color: #000066;"></div>
            <div class="relative w-64 h-64 bottom-4 rounded-lg" style="background-color: #EB12B4;"></div>
            <div class="w-64 h-64 rounded-lg" style="background-color: #38B6FF;"></div>
        </div>
        <div class="text-2xl">Explora los diferentes sitios web de nuestros clientes</div>
    </div>
    <div class="flex flex-row justify-center items-center ">
        <div class="flex flex-col gap-5 text-center" style="color: #000066">
            <div class="text-3xl font-bold font-size 20px">Tenemos todo lo que necesitas</div>
            <p style="font-size: 19px;">Tu pagina web es solo el principio. Tenemos las herramientas y los servicios que necesitas para seguir creciendo</p>
            <Button 
            btnText="Resgistrate" 
            btnWidth="100%" 
            btnColor="white"
            btnBgColor="linear-gradient(90deg, #EB12B4 0%, #B312EB 100%)"
            btnBgColorHover="linear-gradient(90deg, #8A0769 0%, #710C95 100%)"
            routerLink="/signUp"
        ></Button>
        </div>
        <div class="pc-image">
            <img src="../../../assets/pc1.png" alt="" srcset="">
        </div>
        
    </div>
    <div class="flex flex-row justify-center items-center w-full">
        <div class="iphone-image">
            <img src="../../../assets/phone-models.png" alt="" srcset="">
        </div>
        <div class="flex flex-col gap-4 center" style="color: #000066">
            <div class="text-3xl font-bold">Mejora tus <span style="color: #00D774">Ventas</span></div>
            <div class="text-3xl font-bold">Mejora tu <span style="color: #EB12B4">Marketing</span></div>
            <div class="text-3xl font-bold">Añade nuevos <span style="color: #6EE2F5">Productos</span></div>
            <div class="text-3xl font-bold">Desarrolla tus <span style="color: #00D774">Sueños</span></div>
            <img class="w-64" src="../../../assets/logo.png" alt="" srcset="">
        </div>
    </div>
    <div id="content font-bold" class="h-full p-10 flex flex-col items-center justify-center text-center">
        <h1 class="text-3xl" style="color: #000066">Planes cómodos para tu <br> <span style="color: #00D774;">Conveniencia</span></h1>
        <div class="flex flex-row">
            <div class="payment-item-container">
                <div class="payment-item" style="background-color: #00D774;">
                    <h1 class="text-3xl font-bold">Mensual</h1>
                    <div class="flex flex-col text-start">
                        <ul>
                            <li>El mejor alojamiento disponible</li>
                            <li>Servicio de Soporte</li>
                            <li>Plantillas prediseñadas</li>
                            <li>Recibe Pagos</li>
                            <li>Implementa tus propios estilos</li>
                        </ul>
                    </div>
                    <span class="text-3xl font-bold">$18</span>
                </div>
            </div>
            
            <div class="payment-item-container">
                <div class="payment-item" style="background-color: #EB12B4;">
                    <h1 class="text-3xl font-bold">Semestral</h1>
                    <div class="flex flex-col text-start">
                        <ul>
                            <li>El mejor alojamiento disponible</li>
                            <li>Servicio de Soporte</li>
                            <li>Plantillas prediseñadas</li>
                            <li>Recibe Pagos</li>
                            <li>Implementa tus propios estilos</li>
                        </ul>
                    </div>
                    <span class="text-3xl font-bold">$85</span>
                </div>
            </div>
    
            <div class="payment-item-container">
                <div class="payment-item" style="background-color: #000066;">
                    <h1 class="text-3xl font-bold">Anual</h1>
                    <div class="flex flex-col text-start">
                        <ul>
                            <li>El mejor alojamiento disponible</li>
                            <li>Servicio de Soporte</li>
                            <li>Plantillas prediseñadas</li>
                            <li>Recibe Pagos</li>
                            <li>Implementa tus propios estilos</li>
                        </ul>
                    </div>
                    <span class="text-3xl font-bold">$155</span>
                </div>
            </div>
        </div>
        <Button
            routerLink="payment"
            btnText="Adquirir Plan" 
            btnWidth="280px" 
            btnColor="white"
            btnBgColor="linear-gradient(89.64deg, #BC8AFD 0.17%, #5A24F6 49.89%, #6EE2F5 99.61%)"
            btnBgColorHover="linear-gradient(90deg, #6B508D 0%, #2B1273 48.44%, #32626A 100%)"
            >
            </Button>
    </div>
</div>

<div *ngIf="token && entity.roleType === 'client'" class="flex flex-col mx-16 my-5 gap-36">
    <app-company-list [entity]="entity" [token]="token"></app-company-list>
</div>

<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
          <h3 class="text-3xl font-semibold">
            Carrito de compras
          </h3>
          <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="showModal = !showModal ">
            <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
              ×
            </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
          <div *ngFor="let product of cartProducts" class="flex justify-around border border-y py-6 px-2 scroll-m-3">
            <p>{{product.name}}</p>
            <p>L. {{product.price}}</p>
            <div>
                <fa-icon (click)="remove(product._id)" class="text-red-600 text-2xl cursor-pointer" [icon]="faXmark"></fa-icon>
            </div>
          </div>
        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
          <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="showModal = !showModal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>`

<app-footer></app-footer>



