<div class="relative w-full h-40 flex flex-row justify-between items-center px-5 py-4">
    <div class="flex flex-col text-white">
        <img class="object-scale-down h-24" src="../../../assets/logo.png" alt="" srcset="">
        <small>&copy; Copyright 2022, Nexus</small>
    </div>
    <div class="flex flex-col text-center text-white">
        <a href="">Sobre nosotros</a>
        <a href="">Terminos y condiciones</a>
        <a href="">Politicas de privacidad</a>
        <a href="">Condiciones de servicio</a>
    </div>
    <div>
    <div class="flex flex-col text-center text-white">
        <a href="">Contacto</a>
        <div class="flex justify-evenly">
            <fa-icon [icon]="faGithub"></fa-icon>
            <fa-icon [icon]="faGoogle"></fa-icon>
        </div>
        <div class="flex flex-row gap-2">
            <fa-icon [icon]="faMagnifyingGlassLocation"></fa-icon>
            <p>Tegucigalpa, Honduras</p>
        </div>
    </div>
        
</div>